<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='./assets/js/script.js'></script>
    <link rel='stylesheet' type='text/css' href='./assets/css/style.css'>
    <title>Card Generator</title>
</head>
<body onLoad='mainApp()'>
    <div class="jumbotron" style='margin-top:5%' id='jumboIntro'>
        <h1 class="display-4">Card Generator</h1>
        <p class="lead">Create cards with their own face properties. Prepare decks of cards sharing these properties.</p>
        <hr class="my-4">
        <p>Create cards in a new deck or update cards of an existing deck.</p>
        <a class="btn btn-primary btn-lg" onClick='showCardForm(event)' role="button">Create cards</a>
        <a class="btn btn-primary btn-lg" onClick="showCardList(event)" role="button">View cards</a>
    </div>
    <div class='container'>
        <div class='row d-none' id='createCardBlock'>
            <div class='col-md-6 col-lg-8' id='createCardForm'>
                {{{block 'createCardForm'}}}
            </div>
            <div class='col-md-6 col-lg-4' id='cardPreviewBlock'>
                {{{block 'cardPreview'}}}
            </div>
        </div>
    </div>
</body>
</html>