{{#contentFor 'createCardForm'}}
<div>
    <form>
        <div class='form-group'>
            <label for='cardNameInput'>Name of card</label>
            <input type='text' name='cardNameInput' id='cardNameInput' class='form-control' onInput='previewMatch(id)'>
        </div>
        <div class='form-group'>
            <label for='cardDescInput'>Description</label>
            <input type='text' name='cardDescInput' id='cardDescInput' class='form-control' onInput='previewMatch(id)'>
        </div>
        <div class='form-group'>
            <label for='cardImgInput'>Card art</label>
            <input type='url' name='cardImgInput' id='cardImgInput' class='form-control'>
        </div>
        <div class='form-group'>
            <label for='attributesInput'>Attributes</label>
            <div id='attributesInputList'></div>
            <button type="button" class='btn btn-primary mt-3' onClick='addAttribute()'>Add attribute</button>
        </div>
        <button type='submit' class='btn btn-primary' onClick='createCard(event)'>Create card</button>
    </form>
</div>
{{/contentFor}}
{{#contentFor 'cardList'}}
<h1>Hello world!</h1>
{{/contentFor}}
{{#contentFor 'cardPreview'}}
<div class="card" >
    <h5 class="card-title card-body" id='cardNamePreview'>Card title</h5>
  <img src="./assets/img/The Challengers.png" class="card-img-top img-fluid" id='cardImgPreview' alt="example image">
  <p class="card-text card-body" id='cardDescPreview'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <ul class="list-group list-group-flush">
    {{#each attribute}}
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
    {{/each}}
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/contentFor}}